# Use this template for docker-compose, alembic or other configuration purposes related to DB
# It could be used for testing but prefer `pytest-env` when possible


# NOTE it must match `docker compose.yml` configuration and `deploy/created_db.sql`

DVN_DB_HOST=localhost
# or host.docker.internal
DVN_DB_USER=postgres
DVN_DB_PASSWORD=p4ssw0rd
DVN_DB_NAME=divine_local
