# Use this template for docker compose or other configuration purpose
# It could be used for testing but prefer `pytest-env` when possible

DVN_ENV_PURPOSE=LIVE
DVN_ENV_STAGE=local

# TODO change to localhost or equivalent to use alembic migrations manuaally
DVN_DB_HOST=db
DVN_DB_PORT=5432
DVN_DB_USER=postgres
DVN_DB_PASSWORD=p4ssw0rd
DVN_DB_NAME=divine_local

DVN_OTEL_HOST=http://jaeger
DVN_OTEL_PORT=4317
